.grid {
  position: relative;
  width: 100%;
  margin: 1rem auto 0 auto;
  max-width: 100%;
}

.cards {
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  height: auto;
  gap: 1rem;
}

@media (min-width: 399px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (min-width: 799px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  }
}

@media (min-width: 999px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.title {
  position: relative;
  width: 100%;
  margin: 0.75rem auto;
  padding: 0.25rem;
}

.not_found_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  text-align: center;
}
