.grid {
  position: relative;
  width: 100%;
  margin: 1rem auto 0 auto;
  max-width: 100%;
}

.cards {
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 1rem;
}

@media (min-width: 799px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.title {
  position: relative;
  width: 100%;
  margin: 0.75rem auto;
  padding: 0.25rem;
}
